{% extends "base.html" %}

{% block content %}

<form action="/signup" method="post">
    <div>
        <input type="text" name="username" placeholder="Username" />
    </div>
    <div>
        <input type="text" name="password" placeholder="Password" />
    </div>
    <div>
        <input type="text" name="password-confirm" placeholder="Please confirm password"
    </div>
    <div>
        <input type="text" name="email" placeholder="Email (optional)" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
{% endblock %}

